* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    background-image: url(webarebearBG.jpeg);
    background-size: cover;
    min-height: 800px;
    display: grid;
    place-items: center;
    /* margin-top: 5%; */
}

.container-game {
    height: 800px;
    width: 600px;
    border: 1px solid rgb(134, 112, 112);
    position: absolute;
}

.sky {
    height: 600px;
    width: 600px;
    background: url(https://pics.craiyon.com/2023-09-23/84b96e246d3d4c1981362635774ff451.webp);
    background-size: cover;
    overflow: hidden;
    position: absolute;
}

.ground {
    background-color: darkslategray;
    height: 200px;
    width: 600px;
    top: 600px;
    position: absolute;
}

.bear {
    position: absolute;
    height: 70px;
    width: 80px;
}

.bear img {
    height: 70px;
    width: 80px;
}

.treeUp {
    height: 200px;
    width: 70px;
    background-color: #dc5800;
    position: relative;
    left: 600px;
    animation-name: tree;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.treeDown {
    height: 450px;
    width: 70px;
    background-color: #dc5800;
    position: relative;
    left: 600px;
    bottom: -150px;
    animation-name: tree;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: linear;

}

@keyframes tree {
    0% {
        left: 600px;
    }
    100% {
        left: -150px;
    }
}

#startPage {
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: none;
    text-align: center;
}

.startBtn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 11px;
    background-color: lightgreen;
    color: black;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 1rem;
    cursor: pointer;
}

#text {
    margin-top: 1rem;
    font-size: 2rem;
    color: seashell;
}

#score {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
}